*,
::after, 
::before{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
}

main{
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    justify-content: center;
    padding-inline: 1rem;
    
}

#form-section{
    display: grid;
    justify-content: center;
    padding: 1rem 2rem;
    height: 500px;
    position: static;
    width: 100%;
    background-color:rgba(134, 134, 250, 1);
    border-radius: 0%


}

#intro{
    color: white;
   
}

form{
    
    min-width: 100%;
}

#display-section{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 1rem;

}


form{
    display: grid;
    gap: 0.5;
    background-color: #ffffff;
    padding-inline: 1rem;
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-radius: 5px;
}

#intro h1{ 
    font-size: 1.2rem;
}

#intro p{
    font-size: 1rem;
    margin-bottom: 1rem;
}



.content-container{
    display: grid;
    gap: 1rem;
    background-color: white;
}

.content-container > div{
    display: grid;
    gap: 0.5rem;
    background-color: white;
}

label{
    font-size: 1rem;
}

input{
    height: 1.5rem;
    border-radius: 5px;
    border: 2px solid rgba(134, 134, 250, 1);
    outline: none;
    padding: 15px;
   
    
}

textarea{
    outline: none;
    border-radius: 5px;
    border: 2px solid rgba(134, 134, 250, 1);
    padding: 15px;
   
}

button{
    

    border-radius: 5px;
    background-color: rgba(27, 29, 105, 0.973);
    outline: none;
    font-size: small;
    color: white;
    border: 0px;
    margin-top: 1rem;
    padding-block: 10px;

}

button:hover{
    background-color: rgba(27, 29, 205, 1);

}

textarea:focus, input:focus{
    border: 2px solid rgba(0, 0, 250, 0.7);
}



.card{
   
    width: 20rem;
    padding: 5rem 1rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 2px 2px 5px;
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;

}


@media(min-width:1024px) {
    main{
        grid-template-columns: 500px 1fr;
        padding-inline: 3rem;
    }

    #form-section{
        position: sticky;
        top: 1rem;
        border-radius: 5px;
    }

    #intro h1{ 
        font-size: 1.5rem;
    }
    
    #intro p{
        font-size: 1.2rem;
     
    }




 #display-section{
    justify-content: start;
 }

    
}



.number-container{
    position: absolute;
    top: 1rem;
    right:1rem;
    color: white;
    background-color: gray;
    aspect-ratio: 1;
    border-radius: 100%;
    padding: 0.1rem 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    z-index: 30;

}

.comment-container{
    margin-top: 1rem;
}

.name-container{
    margin-bottom: 1rem;
}


.email-container{
    text-wrap: wrap;
}
